In [1]:
import pandas as pd
import numpy as np

In [3]:
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
dfcar=pd.read_csv(r'C:\Users\User\Downloads\ML Dataset\car data.csv')

In [6]:
dfcar

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0
...,...,...,...,...,...,...,...,...,...
296,city,2016,9.50,11.60,33988,Diesel,Dealer,Manual,0
297,brio,2015,4.00,5.90,60000,Petrol,Dealer,Manual,0
298,city,2009,3.35,11.00,87934,Petrol,Dealer,Manual,0
299,city,2017,11.50,12.50,9000,Diesel,Dealer,Manual,0
300,brio,2016,5.30,5.90,5464,Petrol,Dealer,Manual,0

In [7]:
dfcar.dtypes

Car_Name          object
Year               int64
Selling_Price    float64
Present_Price    float64
Kms_Driven         int64
Fuel_Type         object
Seller_Type       object
Transmission      object
Owner              int64
dtype: object

In [9]:
dfcar.dtypes==object

Car_Name          True
Year             False
Selling_Price    False
Present_Price    False
Kms_Driven       False
Fuel_Type         True
Seller_Type       True
Transmission      True
Owner            False
dtype: bool

In [10]:
dfcar.dtypes[dfcar.dtypes==object]

Car_Name        object
Fuel_Type       object
Seller_Type     object
Transmission    object
dtype: object

In [11]:
dfcar.dtypes[dfcar.dtypes==object].index

Index(['Car_Name', 'Fuel_Type', 'Seller_Type', 'Transmission'], dtype='object')

In [12]:
dfcar.isna().sum()

Car_Name         0
Year             0
Selling_Price    0
Present_Price    0
Kms_Driven       0
Fuel_Type        0
Seller_Type      0
Transmission     0
Owner            0
dtype: int64

In [14]:
dfcar['Fuel_Type']

0      Petrol
1      Diesel
2      Petrol
3      Petrol
4      Diesel
        ...
296    Diesel
297    Petrol
298    Petrol
299    Diesel
300    Petrol
Name: Fuel_Type, Length: 301, dtype: object

In [24]:
dfcar['Fuel_Type'].unique()

array(['Petrol', 'Diesel', 'CNG'], dtype=object)

In [25]:
dfcar[['Car_Name', 'Fuel_Type', 'Seller_Type', 'Transmission']].nunique()

Car_Name        98
Fuel_Type        3
Seller_Type      2
Transmission     2
dtype: int64

In [26]:
dfcar[['Car_Name', 'Fuel_Type', 'Seller_Type', 'Transmission']].nunique().sum()

105

In [31]:
dfcar1=pd.get_dummies(dfcar[['Car_Name', 'Fuel_Type', 'Seller_Type', 'Transmission']])

In [52]:
dfcar1

,Car_Name_800,Car_Name_Activa 3g,Car_Name_Activa 4g,Car_Name_Bajaj ct 100,Car_Name_Bajaj Avenger 150,Car_Name_Bajaj Avenger 150 street,Car_Name_Bajaj Avenger 220,Car_Name_Bajaj Avenger 220 dtsi,Car_Name_Bajaj Avenger Street 220,Car_Name_Bajaj Discover 100,...,Car_Name_vitara brezza,Car_Name_wagon r,Car_Name_xcent,Fuel_Type_CNG,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Dealer,Seller_Type_Individual,Transmission_Automatic,Transmission_Manual
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,1
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,1
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,1
3,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,1,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
296,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,1
297,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,1
298,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,1
299,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,1
300,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,1

In [55]:
dfcar=pd.concat([dfcar,dfcar1],axis=1)

In [56]:
dfcar

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner,Car_Name_800,...,Car_Name_vitara brezza,Car_Name_wagon r,Car_Name_xcent,Fuel_Type_CNG,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Dealer,Seller_Type_Individual,Transmission_Automatic,Transmission_Manual
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0,0,...,0,0,0,0,0,1,1,0,0,1
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0,0,...,0,0,0,0,1,0,1,0,0,1
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0,0,...,0,0,0,0,0,1,1,0,0,1
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0,0,...,0,1,0,0,0,1,1,0,0,1
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0,0,...,0,0,0,0,1,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
296,city,2016,9.50,11.60,33988,Diesel,Dealer,Manual,0,0,...,0,0,0,0,1,0,1,0,0,1
297,brio,2015,4.00,5.90,60000,Petrol,Dealer,Manual,0,0,...,0,0,0,0,0,1,1,0,0,1
298,city,2009,3.35,11.00,87934,Petrol,Dealer,Manual,0,0,...,0,0,0,0,0,1,1,0,0,1
299,city,2017,11.50,12.50,9000,Diesel,Dealer,Manual,0,0,...,0,0,0,0,1,0,1,0,0,1
300,brio,2016,5.30,5.90,5464,Petrol,Dealer,Manual,0,0,...,0,0,0,0,0,1,1,0,0,1

In [58]:
dfcar=dfcar.drop(['Car_Name', 'Fuel_Type', 'Seller_Type', 'Transmission'],axis=1)

In [59]:
dfcar

,Year,Selling_Price,Present_Price,Kms_Driven,Owner,Car_Name_800,Car_Name_Activa 3g,Car_Name_Activa 4g,Car_Name_Bajaj ct 100,Car_Name_Bajaj Avenger 150,...,Car_Name_vitara brezza,Car_Name_wagon r,Car_Name_xcent,Fuel_Type_CNG,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Dealer,Seller_Type_Individual,Transmission_Automatic,Transmission_Manual
0,2014,3.35,5.59,27000,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,1
1,2013,4.75,9.54,43000,0,0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,1
2,2017,7.25,9.85,6900,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,1
3,2011,2.85,4.15,5200,0,0,0,0,0,0,...,0,1,0,0,0,1,1,0,0,1
4,2014,4.60,6.87,42450,0,0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
296,2016,9.50,11.60,33988,0,0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,1
297,2015,4.00,5.90,60000,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,1
298,2009,3.35,11.00,87934,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,1
299,2017,11.50,12.50,9000,0,0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,1
300,2016,5.30,5.90,5464,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,1

In [60]:
dfcar.dtypes

Year                        int64
Selling_Price             float64
Present_Price             float64
Kms_Driven                  int64
Owner                       int64
                           ...
Fuel_Type_Petrol            uint8
Seller_Type_Dealer          uint8
Seller_Type_Individual      uint8
Transmission_Automatic      uint8
Transmission_Manual         uint8
Length: 110, dtype: object

## Data Splitting

In [63]:
X=dfcar.drop('Selling_Price',axis=1)

In [64]:
X

,Year,Present_Price,Kms_Driven,Owner,Car_Name_800,Car_Name_Activa 3g,Car_Name_Activa 4g,Car_Name_Bajaj ct 100,Car_Name_Bajaj Avenger 150,Car_Name_Bajaj Avenger 150 street,...,Car_Name_vitara brezza,Car_Name_wagon r,Car_Name_xcent,Fuel_Type_CNG,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Dealer,Seller_Type_Individual,Transmission_Automatic,Transmission_Manual
0,2014,5.59,27000,0,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,1
1,2013,9.54,43000,0,0,0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,1
2,2017,9.85,6900,0,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,1
3,2011,4.15,5200,0,0,0,0,0,0,0,...,0,1,0,0,0,1,1,0,0,1
4,2014,6.87,42450,0,0,0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
296,2016,11.60,33988,0,0,0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,1
297,2015,5.90,60000,0,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,1
298,2009,11.00,87934,0,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,1
299,2017,12.50,9000,0,0,0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,1
300,2016,5.90,5464,0,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,1

In [65]:
y=dfcar['Selling_Price']

In [66]:
y

0       3.35
1       4.75
2       7.25
3       2.85
4       4.60
       ...
296     9.50
297     4.00
298     3.35
299    11.50
300     5.30
Name: Selling_Price, Length: 301, dtype: float64

In [67]:
from sklearn.model_selection import train_test_split

In [68]:
Xtrain,Xtest,ytrain,ytest=train_test_split(X,y,test_size=0.2)

In [69]:
Xtrain.shape,Xtest.shape,ytrain.shape,ytest.shape

((240, 109), (61, 109), (240,), (61,))

## Model Building

In [70]:
from sklearn.linear_model import LinearRegression

In [71]:
lmodel=LinearRegression()

In [72]:
lmodel

LinearRegression()

In [73]:
lmodel.fit(Xtrain,ytrain)

LinearRegression()

In [74]:
lmodel.score(Xtest,ytest)

0.7892298461882765

In [75]:
lmodel.score(Xtrain,ytrain)

0.970819361458462