In [2]:
import pandas as pd
import numpy as np

In [7]:
dfiris=pd.read_csv(r'C:\Users\User\Downloads\ML Dataset\KNN\Iris.csv')

In [8]:
dfiris

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [9]:
dfiris.drop('Id',axis=1,inplace=True)

In [10]:
dfiris

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
0              5.1           3.5            1.4           0.2     Iris-setosa
1              4.9           3.0            1.4           0.2     Iris-setosa
2              4.7           3.2            1.3           0.2     Iris-setosa
3              4.6           3.1            1.5           0.2     Iris-setosa
4              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
145            6.7           3.0            5.2           2.3  Iris-virginica
146            6.3           2.5            5.0           1.9  Iris-virginica
147            6.5           3.0            5.2           2.0  Iris-virginica
148            6.2           3.4            5.4           2.3  Iris-virginica
149            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [11]:
from sklearn.preprocessing import LabelEncoder

In [12]:
label=LabelEncoder()

In [13]:
label.fit(dfiris['Species'])

LabelEncoder()

In [15]:
ary1=label.transform(dfiris['Species'])

In [16]:
dfiris

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
0              5.1           3.5            1.4           0.2     Iris-setosa
1              4.9           3.0            1.4           0.2     Iris-setosa
2              4.7           3.2            1.3           0.2     Iris-setosa
3              4.6           3.1            1.5           0.2     Iris-setosa
4              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
145            6.7           3.0            5.2           2.3  Iris-virginica
146            6.3           2.5            5.0           1.9  Iris-virginica
147            6.5           3.0            5.2           2.0  Iris-virginica
148            6.2           3.4            5.4           2.3  Iris-virginica
149            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [17]:
dfiris['Flower']=ary1

In [18]:
dfiris

,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,Flower
0,5.1,3.5,1.4,0.2,Iris-setosa,0
1,4.9,3.0,1.4,0.2,Iris-setosa,0
2,4.7,3.2,1.3,0.2,Iris-setosa,0
3,4.6,3.1,1.5,0.2,Iris-setosa,0
4,5.0,3.6,1.4,0.2,Iris-setosa,0
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica,2
146,6.3,2.5,5.0,1.9,Iris-virginica,2
147,6.5,3.0,5.2,2.0,Iris-virginica,2
148,6.2,3.4,5.4,2.3,Iris-virginica,2
149,5.9,3.0,5.1,1.8,Iris-virginica,2

In [19]:
dfiris.drop('Species',axis=1,inplace=True)

In [20]:
dfiris

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Flower
0              5.1           3.5            1.4           0.2       0
1              4.9           3.0            1.4           0.2       0
2              4.7           3.2            1.3           0.2       0
3              4.6           3.1            1.5           0.2       0
4              5.0           3.6            1.4           0.2       0
..             ...           ...            ...           ...     ...
145            6.7           3.0            5.2           2.3       2
146            6.3           2.5            5.0           1.9       2
147            6.5           3.0            5.2           2.0       2
148            6.2           3.4            5.4           2.3       2
149            5.9           3.0            5.1           1.8       2

[150 rows x 5 columns]

In [21]:
X=dfiris.drop('Flower',axis=1)

In [22]:
y=dfiris['Flower']

In [23]:
X

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0              5.1           3.5            1.4           0.2
1              4.9           3.0            1.4           0.2
2              4.7           3.2            1.3           0.2
3              4.6           3.1            1.5           0.2
4              5.0           3.6            1.4           0.2
..             ...           ...            ...           ...
145            6.7           3.0            5.2           2.3
146            6.3           2.5            5.0           1.9
147            6.5           3.0            5.2           2.0
148            6.2           3.4            5.4           2.3
149            5.9           3.0            5.1           1.8

[150 rows x 4 columns]

In [24]:
y

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: Flower, Length: 150, dtype: int32

In [25]:
from sklearn.model_selection import train_test_split

In [26]:
Xtrain,Xtest,ytrain,ytest=train_test_split(X,y,test_size=0.20,random_state=42)

In [27]:
Xtrain.shape,Xtest.shape,X.shape

((120, 4), (30, 4), (150, 4))

In [28]:
from sklearn.linear_model import LogisticRegression

In [29]:
logreg=LogisticRegression()

In [30]:
logreg.fit(Xtrain,ytrain)

LogisticRegression()

In [31]:
logreg.score(Xtest,ytest)

1.0