In [1]:
import pandas as pd
import numpy as np

In [41]:
dfmovie=pd.read_csv(r'C:\Users\User\Downloads\Outlier Dataset\Onehotencoding dataset\movie_review.csv')

## Ordinal Encoding on education

In [3]:
dfmovie

    age  gender education   review
0    30  Female    School  Average
1    68  Female        UG     Poor
2    70  Female        PG     Good
3    72  Female        PG     Good
4    16  Female        UG  Average
5    31  Female    School  Average
6    18    Male    School     Good
7    60  Female    School     Poor
8    65  Female        UG  Average
9    74    Male        UG     Good
10   98  Female        UG     Good
11   74    Male        UG     Good
12   51    Male    School     Poor
13   57  Female    School  Average
14   15    Male        PG     Poor
15   75    Male        UG     Poor
16   59    Male        UG     Poor
17   22  Female        UG     Poor
18   19    Male    School     Good
19   97    Male        PG     Poor
20   57  Female    School  Average
21   32    Male        PG  Average
22   18  Female        PG     Poor
23   96  Female    School     Good
24   16  Female        PG  Average
25   57  Female    School     Good
26   53  Female        PG     Poor
27   69  Female        PG     Poor
28   48    Male    School     Poor
29   83  Female        UG  Average
30   73    Male        UG  Average
31   22  Female    School     Poor
32   92    Male        UG  Average
33   89  Female        PG     Good
34   86    Male    School  Average
35   74    Male    School     Poor
36   34  Female        UG     Good
37   94    Male        PG  Average
38   45  Female    School     Good
39   76    Male        PG     Poor
40   39    Male    School     Good
41   23    Male        PG     Good
42   30  Female        PG     Good
43   27    Male        PG     Poor
44   77  Female        UG  Average
45   61    Male        PG     Poor
46   64  Female        PG     Poor
47   38  Female        PG     Good
48   39  Female        UG     Good
49   25  Female        UG     Good

In [4]:
dfmovie.columns

Index(['age', 'gender', 'education', 'review'], dtype='object')

In [6]:
dfmovie['education'].unique()

array(['School', 'UG', 'PG'], dtype=object)

In [7]:
from sklearn.preprocessing import OrdinalEncoder

In [8]:
ord=OrdinalEncoder()

In [10]:
ord

OrdinalEncoder()

In [11]:
ord.fit(dfmovie[['education']])

OrdinalEncoder()

In [14]:
ordary=ord.transform(dfmovie[['education']])

In [15]:
ordary

array([[1.],
       [2.],
       [0.],
       [0.],
       [2.],
       [1.],
       [1.],
       [1.],
       [2.],
       [2.],
       [2.],
       [2.],
       [1.],
       [1.],
       [0.],
       [2.],
       [2.],
       [2.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [2.],
       [2.],
       [1.],
       [2.],
       [0.],
       [1.],
       [1.],
       [2.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [2.],
       [0.],
       [0.],
       [0.],
       [2.],
       [2.]])

In [19]:
dfedu=pd.DataFrame(ordary,columns=['Degree'],dtype='int')

In [20]:
dfedu

    Degree
0        1
1        2
2        0
3        0
4        2
5        1
6        1
7        1
8        2
9        2
10       2
11       2
12       1
13       1
14       0
15       2
16       2
17       2
18       1
19       0
20       1
21       0
22       0
23       1
24       0
25       1
26       0
27       0
28       1
29       2
30       2
31       1
32       2
33       0
34       1
35       1
36       2
37       0
38       1
39       0
40       1
41       0
42       0
43       0
44       2
45       0
46       0
47       0
48       2
49       2

In [25]:
ord.categories_ # By default PG is considered as 0, School as 1 and UG as 2

[array(['PG', 'School', 'UG'], dtype=object)]

In [21]:
dfmovie=pd.concat([dfmovie,dfedu],axis=1)

In [22]:
dfmovie

    age  gender education   review  Degree
0    30  Female    School  Average       1
1    68  Female        UG     Poor       2
2    70  Female        PG     Good       0
3    72  Female        PG     Good       0
4    16  Female        UG  Average       2
5    31  Female    School  Average       1
6    18    Male    School     Good       1
7    60  Female    School     Poor       1
8    65  Female        UG  Average       2
9    74    Male        UG     Good       2
10   98  Female        UG     Good       2
11   74    Male        UG     Good       2
12   51    Male    School     Poor       1
13   57  Female    School  Average       1
14   15    Male        PG     Poor       0
15   75    Male        UG     Poor       2
16   59    Male        UG     Poor       2
17   22  Female        UG     Poor       2
18   19    Male    School     Good       1
19   97    Male        PG     Poor       0
20   57  Female    School  Average       1
21   32    Male        PG  Average       0
22   18  Female        PG     Poor       0
23   96  Female    School     Good       1
24   16  Female        PG  Average       0
25   57  Female    School     Good       1
26   53  Female        PG     Poor       0
27   69  Female        PG     Poor       0
28   48    Male    School     Poor       1
29   83  Female        UG  Average       2
30   73    Male        UG  Average       2
31   22  Female    School     Poor       1
32   92    Male        UG  Average       2
33   89  Female        PG     Good       0
34   86    Male    School  Average       1
35   74    Male    School     Poor       1
36   34  Female        UG     Good       2
37   94    Male        PG  Average       0
38   45  Female    School     Good       1
39   76    Male        PG     Poor       0
40   39    Male    School     Good       1
41   23    Male        PG     Good       0
42   30  Female        PG     Good       0
43   27    Male        PG     Poor       0
44   77  Female        UG  Average       2
45   61    Male        PG     Poor       0
46   64  Female        PG     Poor       0
47   38  Female        PG     Good       0
48   39  Female        UG     Good       2
49   25  Female        UG     Good       2

In [39]:
dfmovie=dfmovie.drop('education',axis=1)

In [40]:
dfmovie

    age  gender   review  Degree
0    30  Female  Average       1
1    68  Female     Poor       2
2    70  Female     Good       0
3    72  Female     Good       0
4    16  Female  Average       2
5    31  Female  Average       1
6    18    Male     Good       1
7    60  Female     Poor       1
8    65  Female  Average       2
9    74    Male     Good       2
10   98  Female     Good       2
11   74    Male     Good       2
12   51    Male     Poor       1
13   57  Female  Average       1
14   15    Male     Poor       0
15   75    Male     Poor       2
16   59    Male     Poor       2
17   22  Female     Poor       2
18   19    Male     Good       1
19   97    Male     Poor       0
20   57  Female  Average       1
21   32    Male  Average       0
22   18  Female     Poor       0
23   96  Female     Good       1
24   16  Female  Average       0
25   57  Female     Good       1
26   53  Female     Poor       0
27   69  Female     Poor       0
28   48    Male     Poor       1
29   83  Female  Average       2
30   73    Male  Average       2
31   22  Female     Poor       1
32   92    Male  Average       2
33   89  Female     Good       0
34   86    Male  Average       1
35   74    Male     Poor       1
36   34  Female     Good       2
37   94    Male  Average       0
38   45  Female     Good       1
39   76    Male     Poor       0
40   39    Male     Good       1
41   23    Male     Good       0
42   30  Female     Good       0
43   27    Male     Poor       0
44   77  Female  Average       2
45   61    Male     Poor       0
46   64  Female     Poor       0
47   38  Female     Good       0
48   39  Female     Good       2
49   25  Female     Good       2

In [ ]:
# OR (we can also change the order of rank as per our own)

In [26]:
ord.categories_

[array(['PG', 'School', 'UG'], dtype=object)]

In [27]:
# We can change its order of rank(0,1,2 etc.) as per our own

In [28]:
ord1=OrdinalEncoder(categories=[['School','UG','PG']])

In [29]:
ord1

OrdinalEncoder(categories=[['School', 'UG', 'PG']])

In [31]:
ord1.fit(dfmovie[['education']])

OrdinalEncoder(categories=[['School', 'UG', 'PG']])

In [32]:
ordary1=ord1.transform(dfmovie[['education']])

In [33]:
ordary1

array([[0.],
       [1.],
       [2.],
       [2.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [2.],
       [1.],
       [1.],
       [1.],
       [0.],
       [2.],
       [0.],
       [2.],
       [2.],
       [0.],
       [2.],
       [0.],
       [2.],
       [2.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [2.],
       [0.],
       [0.],
       [1.],
       [2.],
       [0.],
       [2.],
       [0.],
       [2.],
       [2.],
       [2.],
       [1.],
       [2.],
       [2.],
       [2.],
       [1.],
       [1.]])

In [37]:
dfedu1=pd.DataFrame(ordary1,columns=['Degree'],dtype='int')

In [38]:
dfedu1

    Degree
0        0
1        1
2        2
3        2
4        1
5        0
6        0
7        0
8        1
9        1
10       1
11       1
12       0
13       0
14       2
15       1
16       1
17       1
18       0
19       2
20       0
21       2
22       2
23       0
24       2
25       0
26       2
27       2
28       0
29       1
30       1
31       0
32       1
33       2
34       0
35       0
36       1
37       2
38       0
39       2
40       0
41       2
42       2
43       2
44       1
45       2
46       2
47       2
48       1
49       1

In [42]:
dfmovie # Called from top(from importing line)

    age  gender education   review
0    30  Female    School  Average
1    68  Female        UG     Poor
2    70  Female        PG     Good
3    72  Female        PG     Good
4    16  Female        UG  Average
5    31  Female    School  Average
6    18    Male    School     Good
7    60  Female    School     Poor
8    65  Female        UG  Average
9    74    Male        UG     Good
10   98  Female        UG     Good
11   74    Male        UG     Good
12   51    Male    School     Poor
13   57  Female    School  Average
14   15    Male        PG     Poor
15   75    Male        UG     Poor
16   59    Male        UG     Poor
17   22  Female        UG     Poor
18   19    Male    School     Good
19   97    Male        PG     Poor
20   57  Female    School  Average
21   32    Male        PG  Average
22   18  Female        PG     Poor
23   96  Female    School     Good
24   16  Female        PG  Average
25   57  Female    School     Good
26   53  Female        PG     Poor
27   69  Female        PG     Poor
28   48    Male    School     Poor
29   83  Female        UG  Average
30   73    Male        UG  Average
31   22  Female    School     Poor
32   92    Male        UG  Average
33   89  Female        PG     Good
34   86    Male    School  Average
35   74    Male    School     Poor
36   34  Female        UG     Good
37   94    Male        PG  Average
38   45  Female    School     Good
39   76    Male        PG     Poor
40   39    Male    School     Good
41   23    Male        PG     Good
42   30  Female        PG     Good
43   27    Male        PG     Poor
44   77  Female        UG  Average
45   61    Male        PG     Poor
46   64  Female        PG     Poor
47   38  Female        PG     Good
48   39  Female        UG     Good
49   25  Female        UG     Good

In [43]:
dfmovie=pd.concat([dfmovie,dfedu1],axis=1)

In [44]:
dfmovie

    age  gender education   review  Degree
0    30  Female    School  Average       0
1    68  Female        UG     Poor       1
2    70  Female        PG     Good       2
3    72  Female        PG     Good       2
4    16  Female        UG  Average       1
5    31  Female    School  Average       0
6    18    Male    School     Good       0
7    60  Female    School     Poor       0
8    65  Female        UG  Average       1
9    74    Male        UG     Good       1
10   98  Female        UG     Good       1
11   74    Male        UG     Good       1
12   51    Male    School     Poor       0
13   57  Female    School  Average       0
14   15    Male        PG     Poor       2
15   75    Male        UG     Poor       1
16   59    Male        UG     Poor       1
17   22  Female        UG     Poor       1
18   19    Male    School     Good       0
19   97    Male        PG     Poor       2
20   57  Female    School  Average       0
21   32    Male        PG  Average       2
22   18  Female        PG     Poor       2
23   96  Female    School     Good       0
24   16  Female        PG  Average       2
25   57  Female    School     Good       0
26   53  Female        PG     Poor       2
27   69  Female        PG     Poor       2
28   48    Male    School     Poor       0
29   83  Female        UG  Average       1
30   73    Male        UG  Average       1
31   22  Female    School     Poor       0
32   92    Male        UG  Average       1
33   89  Female        PG     Good       2
34   86    Male    School  Average       0
35   74    Male    School     Poor       0
36   34  Female        UG     Good       1
37   94    Male        PG  Average       2
38   45  Female    School     Good       0
39   76    Male        PG     Poor       2
40   39    Male    School     Good       0
41   23    Male        PG     Good       2
42   30  Female        PG     Good       2
43   27    Male        PG     Poor       2
44   77  Female        UG  Average       1
45   61    Male        PG     Poor       2
46   64  Female        PG     Poor       2
47   38  Female        PG     Good       2
48   39  Female        UG     Good       1
49   25  Female        UG     Good       1

In [45]:
dfmovie=dfmovie.drop('education',axis=1)

In [46]:
dfmovie

    age  gender   review  Degree
0    30  Female  Average       0
1    68  Female     Poor       1
2    70  Female     Good       2
3    72  Female     Good       2
4    16  Female  Average       1
5    31  Female  Average       0
6    18    Male     Good       0
7    60  Female     Poor       0
8    65  Female  Average       1
9    74    Male     Good       1
10   98  Female     Good       1
11   74    Male     Good       1
12   51    Male     Poor       0
13   57  Female  Average       0
14   15    Male     Poor       2
15   75    Male     Poor       1
16   59    Male     Poor       1
17   22  Female     Poor       1
18   19    Male     Good       0
19   97    Male     Poor       2
20   57  Female  Average       0
21   32    Male  Average       2
22   18  Female     Poor       2
23   96  Female     Good       0
24   16  Female  Average       2
25   57  Female     Good       0
26   53  Female     Poor       2
27   69  Female     Poor       2
28   48    Male     Poor       0
29   83  Female  Average       1
30   73    Male  Average       1
31   22  Female     Poor       0
32   92    Male  Average       1
33   89  Female     Good       2
34   86    Male  Average       0
35   74    Male     Poor       0
36   34  Female     Good       1
37   94    Male  Average       2
38   45  Female     Good       0
39   76    Male     Poor       2
40   39    Male     Good       0
41   23    Male     Good       2
42   30  Female     Good       2
43   27    Male     Poor       2
44   77  Female  Average       1
45   61    Male     Poor       2
46   64  Female     Poor       2
47   38  Female     Good       2
48   39  Female     Good       1
49   25  Female     Good       1

## OneHotEncoding on gender

In [47]:
from sklearn.preprocessing import OneHotEncoder

In [49]:
ohe=OneHotEncoder(drop='first')

In [50]:
ohe

OneHotEncoder(drop='first')

In [51]:
ohe.fit(dfmovie[['gender']])

OneHotEncoder(drop='first')

In [53]:
oheary=ohe.transform(dfmovie[['gender']]).toarray()

In [54]:
oheary

array([[0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.]])

In [56]:
ohe.categories_

[array(['Female', 'Male'], dtype=object)]

In [57]:
dfgen=pd.DataFrame(oheary,columns=['Male'],dtype='int')

In [58]:
dfgen

    Male
0      0
1      0
2      0
3      0
4      0
5      0
6      1
7      0
8      0
9      1
10     0
11     1
12     1
13     0
14     1
15     1
16     1
17     0
18     1
19     1
20     0
21     1
22     0
23     0
24     0
25     0
26     0
27     0
28     1
29     0
30     1
31     0
32     1
33     0
34     1
35     1
36     0
37     1
38     0
39     1
40     1
41     1
42     0
43     1
44     0
45     1
46     0
47     0
48     0
49     0

In [59]:
dfmovie=pd.concat([dfmovie,dfgen],axis=1)

In [60]:
dfmovie

    age  gender   review  Degree  Male
0    30  Female  Average       0     0
1    68  Female     Poor       1     0
2    70  Female     Good       2     0
3    72  Female     Good       2     0
4    16  Female  Average       1     0
5    31  Female  Average       0     0
6    18    Male     Good       0     1
7    60  Female     Poor       0     0
8    65  Female  Average       1     0
9    74    Male     Good       1     1
10   98  Female     Good       1     0
11   74    Male     Good       1     1
12   51    Male     Poor       0     1
13   57  Female  Average       0     0
14   15    Male     Poor       2     1
15   75    Male     Poor       1     1
16   59    Male     Poor       1     1
17   22  Female     Poor       1     0
18   19    Male     Good       0     1
19   97    Male     Poor       2     1
20   57  Female  Average       0     0
21   32    Male  Average       2     1
22   18  Female     Poor       2     0
23   96  Female     Good       0     0
24   16  Female  Average       2     0
25   57  Female     Good       0     0
26   53  Female     Poor       2     0
27   69  Female     Poor       2     0
28   48    Male     Poor       0     1
29   83  Female  Average       1     0
30   73    Male  Average       1     1
31   22  Female     Poor       0     0
32   92    Male  Average       1     1
33   89  Female     Good       2     0
34   86    Male  Average       0     1
35   74    Male     Poor       0     1
36   34  Female     Good       1     0
37   94    Male  Average       2     1
38   45  Female     Good       0     0
39   76    Male     Poor       2     1
40   39    Male     Good       0     1
41   23    Male     Good       2     1
42   30  Female     Good       2     0
43   27    Male     Poor       2     1
44   77  Female  Average       1     0
45   61    Male     Poor       2     1
46   64  Female     Poor       2     0
47   38  Female     Good       2     0
48   39  Female     Good       1     0
49   25  Female     Good       1     0

In [61]:
dfmovie=dfmovie.drop('gender',axis=1)

In [62]:
dfmovie

    age   review  Degree  Male
0    30  Average       0     0
1    68     Poor       1     0
2    70     Good       2     0
3    72     Good       2     0
4    16  Average       1     0
5    31  Average       0     0
6    18     Good       0     1
7    60     Poor       0     0
8    65  Average       1     0
9    74     Good       1     1
10   98     Good       1     0
11   74     Good       1     1
12   51     Poor       0     1
13   57  Average       0     0
14   15     Poor       2     1
15   75     Poor       1     1
16   59     Poor       1     1
17   22     Poor       1     0
18   19     Good       0     1
19   97     Poor       2     1
20   57  Average       0     0
21   32  Average       2     1
22   18     Poor       2     0
23   96     Good       0     0
24   16  Average       2     0
25   57     Good       0     0
26   53     Poor       2     0
27   69     Poor       2     0
28   48     Poor       0     1
29   83  Average       1     0
30   73  Average       1     1
31   22     Poor       0     0
32   92  Average       1     1
33   89     Good       2     0
34   86  Average       0     1
35   74     Poor       0     1
36   34     Good       1     0
37   94  Average       2     1
38   45     Good       0     0
39   76     Poor       2     1
40   39     Good       0     1
41   23     Good       2     1
42   30     Good       2     0
43   27     Poor       2     1
44   77  Average       1     0
45   61     Poor       2     1
46   64     Poor       2     0
47   38     Good       2     0
48   39     Good       1     0
49   25     Good       1     0

In [63]:
dfmovie.columns

Index(['age', 'review', 'Degree', 'Male'], dtype='object')

In [64]:
dfmovie=dfmovie[['age','Degree','Male','review']]

In [65]:
dfmovie

    age  Degree  Male   review
0    30       0     0  Average
1    68       1     0     Poor
2    70       2     0     Good
3    72       2     0     Good
4    16       1     0  Average
5    31       0     0  Average
6    18       0     1     Good
7    60       0     0     Poor
8    65       1     0  Average
9    74       1     1     Good
10   98       1     0     Good
11   74       1     1     Good
12   51       0     1     Poor
13   57       0     0  Average
14   15       2     1     Poor
15   75       1     1     Poor
16   59       1     1     Poor
17   22       1     0     Poor
18   19       0     1     Good
19   97       2     1     Poor
20   57       0     0  Average
21   32       2     1  Average
22   18       2     0     Poor
23   96       0     0     Good
24   16       2     0  Average
25   57       0     0     Good
26   53       2     0     Poor
27   69       2     0     Poor
28   48       0     1     Poor
29   83       1     0  Average
30   73       1     1  Average
31   22       0     0     Poor
32   92       1     1  Average
33   89       2     0     Good
34   86       0     1  Average
35   74       0     1     Poor
36   34       1     0     Good
37   94       2     1  Average
38   45       0     0     Good
39   76       2     1     Poor
40   39       0     1     Good
41   23       2     1     Good
42   30       2     0     Good
43   27       2     1     Poor
44   77       1     0  Average
45   61       2     1     Poor
46   64       2     0     Poor
47   38       2     0     Good
48   39       1     0     Good
49   25       1     0     Good

In [ ]:
# We can also convert review to numerical data by using Label Encoding which we will see further